.uiOverlay {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
}

.viewButtonContainer {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.viewButton {
    width: 75px;
    height: 75px;

    position: relative;

    cursor: pointer;
    user-select: none;

    transition: opacity 1s ease-out;
}

.viewButton > div {
    opacity: 20%;

    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 6px 3px #989898;
}

.viewButton > img {
    width: 100%;
    height: 100%;

    opacity: 0;

    transition: opacity 1s linear;
}

.viewButton > div,
.viewButton > img {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
